.button {
  text-transform: uppercase;
  border: none;
  color: white;
  padding: 1rem;
  max-width: 200px;
  border-radius: 0.3rem;
  cursor: pointer;
}

.button .disabled {
  cursor: not-allowed;
  background-color: #cecece;
}